.profile-page{

    min-height:70vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f5f7fb;

}


.profile-card{

    background:white;

    width:400px;

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);

}


.profile-avatar{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:40px;

}


.profile-card h1{

    margin:20px 0;

}


.profile-info{

    text-align:left;

    margin-top:20px;

}


.profile-info p{

    padding:10px;

    border-bottom:1px solid #eee;

}


.edit-profile{

    margin-top:20px;

    padding:12px 25px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

}


.edit-profile:hover{

    background:#1d4ed8;

}