.property-details{

    display:flex;

    gap:40px;

    padding:50px;

}


.details-image{

    width:50%;

}


.details-image img{

    width:100%;

    height:450px;

    object-fit:cover;

    border-radius:10px;

}



.details-info{

    width:50%;

}



.details-info h1{

    font-size:35px;

}



.features{

    display:flex;

    gap:20px;

    margin:20px 0;

}



.features span{

    background:#f2f2f2;

    padding:10px;

    border-radius:8px;

}



.actions button{

    padding:12px 20px;

    margin-right:15px;

    border:none;

    cursor:pointer;

}